<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Record Thoughts.</h1>
  </div>
  <div class="container">
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-center">When it is time to share...</p>
      </div>
    </div>

<form action="/submit" method="POST">
  <input name="title" type="text" class="feedback-input" placeholder="Title" required />
  <input name="date" type="text" class="feedback-input" placeholder="Date" required />
  <textarea name="body" class="feedback-input" placeholder="Blog" required></textarea>
  <input type="submit" value="SUBMIT" />
</form>

<%- include("partials/footer.ejs") %>